<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <span class="h4">{{product.name}}</span>
            <hr>
            <jhi-alert></jhi-alert>
            <div class="card">
                <dl class="row-md jh-entity-details list-group list-group-flush">
                    <div class="list-group-item">
                        <p><img [src]="product.image"/></p>
                    </div>
                    <div class="list-group-item">
                        <p class="h6">Description</p>
                        <dd>
                            <span *ngIf="product.description">s{{product.description}}</span>
                            <span *ngIf="!product.description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                                no sea takimata sanctus est Lorem ipsum dolor sit amet.</span>
                        </dd>
                    </div>
                    <div class="list-group-item">
                        <p class="h6">Price</p>
                        <dd>
                            <span>{{product.price}} €</span>
                        </dd>
                    </div>
                    <div class="list-group-item">
                        <p class="h6">Category</p>
                        <dd>
                            <span>{{product.productCategory.name}}</span>
                        </dd>
                    </div>
                    <div class="list-group-item">
                        <p class="h6 text-warning"><fa-icon [icon]="'star'"></fa-icon> Rating</p>
                        get current rating for this amazing product
                    </div>
                    <div class="list-group-item">
                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info float-left mr-3">
                            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>
                    <button type="button"
                            (click)="intoBasket(amount, product)"
                            [disabled]="1 > amount"
                            class="btn btn-primary float-left">
                             <fa-icon [icon]="'cart-plus'"></fa-icon>&nbsp;<span> Into Basket ( {{ product.price * amount}} € ) </span>
                    </button>
                    <div class="form-group col-sm-2 float-left">
                        <input type="number" [(ngModel)]="amount" value="1" min="1" class="form-control"/>
                    </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>
